@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800,900&display=swap');
:root {
  --font: 'Nunito', sans-serif;
  --color: crimson; 
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font);
  background-color: #060719;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 250px;
  margin: 5% 0;
}

input {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  
  font-family: var(--font);
  font-weight: 600;
  color: #fff;
}

label {
  color: #fff;
  opacity: .2;
  font-weight: 600;
  font-size: 15px;
}

.infos {
  background-color: #0b0c2c;
  color: grey;
  padding: 15px;
  border-radius: 4px;
}

.infos .item {
  font-size: 14px;
}

.infos .text {
  margin: 3% 0;
  color: crimson;
}